# Ignore Python bytecode files
*.pyc
*.pyo
__pycache__/

# Ignore virtual environment directories
.venv/
env/
venv/

# Ignore IDE/editor files (e.g., VS Code, PyCharm, etc.)
.vscode/
.idea/

# Ignore system files
.DS_Store  # macOS
Thumbs.db  # Windows

# Ignore dependency directories
node_modules/

# Ignore pipenv and poetry virtual environments
Pipfile.lock
poetry.lock
